body,html {
  font-family:"PT Sans", "Arial", sans-serif;
  min-width: 320px;
  background: #f2f2f2;
  font-size: 100%;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
span {
  color: #e2181c;
  font-size:1.6rem;
}
.wrapper {
  width: 1700px;
  max-width: 100%;
  position: relative;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.main {
  width: 100%;
  max-width: 1100px;
  margin: 10px auto;
  padding: 0 15px;
  background-color: #fff;
}
